
/* 예외 입금 e9af42 */
._comp_slist ._srow {
    --background-color: bisque;
    display: flex;
    padding: 0;
    margin: 0;
}

._comp_slist ._scol {
    --background-color: cadetblue;
    display: flex;
    flex: 0 0 auto;

    align-items: center;
}

._comp_slist[border-color] ._shead {
    border-top: 1px solid #00ff;
}
._comp_slist[border-color] ._srow > :first-child {
    border-left: 1px solid #00ff;
}
._comp_slist[border-color] ._srow ._scol {
    border-bottom: 1px solid #00ff;
    border-right: 1px solid #00ff;
}




._comp_slist ._sval {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.items-center {
    align-items: center !important;
}
