/* card-head */
.sb-card .card-header #grp_name {
    font-size: 14px;
    font-weight: 600;
}
.sb-card .card-header .amount-deposit {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
}
.sb-card .card-header .amount-withdraw {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
}
.sb-card .card-header .amount-budget {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
}
.sb-card .card-header #item_collapse {
    width: 35px;
}

/* card-body */
.sb-card .card-body #item_withdraw {
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    min-width: 100px;
}
.sb-card .card-body #item_deposit {
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    min-width: 100px;
}
.sb-card .card-body #item_budget {
    font-size: 14px;
    font-weight: 400;
    color: #E9E6E6;
    width: 100px;
    min-width: 100px;
}
