/* card-head */
.sb-card .card-header .daily-day {
    font-size: 18px;
    font-weight: 700;
}
.sb-card .card-header .daily-week {
    width: 20px;
    height: 20px;
    background-color: #DBD5D2;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #222223;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sb-card .card-header .amount-deposit {
    font-size: 14px;
    font-weight: 600;
}
.sb-card .card-header .amount-withdraw {
    font-size: 14px;
    font-weight: 600;
}
.sb-card .card-header .week-sunday {
    background-color: var(--theme-color-deposit-1);
}
.sb-card .card-header .week-satday {
    background-color: var(--theme-color-withdraw-1);
}
.sb-card .card-header .week-norday {
    background-color: #DBD5D2;
}


/* card-body */
.sb-card .card-body #item_content {
    font-size: 14px;
    font-weight: 600;
    color: #E9E6E6;
}
.sb-card .card-body #item_account, #item_time {
    font-size: 14px;
    font-weight: 400;
    color: #E9E6E6;
}
.sb-card .card-body #item_amount {
    font-size: 14px;
    font-weight: 400;
}
.sb-card .card-body #item_memo {
    font-size: 13px;
    font-weight: 400;
    color: #6A6A6A;
}
